@{
  Layout = "_Layout";
}

@model Inventory.Models.Plant

<h2>Edit</h2>

<h4>Edit this plant: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.PlantId)

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)

  @Html.LabelFor(model => model.Collection)
  @Html.DropDownList("CollectionId")
  <br>

  @Html.LabelFor(model => model.LocationFound)
  @Html.EditorFor(model => model.LocationFound)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>